* {
    --standard-width: 600px;
}

body,
html,
ul{
    margin: 0;
    padding: 0;
}

.slider {
    list-style-type: none;
    margin: 0 auto;
    width: var(--standard-width);
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.visible {
    display: block;
}
